option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip setuptools wheel"
  02_clean_cache:
    command: "pip cache purge"
  03_install_requirements:
    command: "pip install --no-cache-dir -r requirements.txt"
